@import "tailwindcss";

@theme {
    --breakpoint-md: 28rem;

    --color-dark-purple: #081A51;
    --color-light-white: rgba(255,255,255,0.18);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

li::marker  {
    content: "" !important;
}

html {
    width: 100%;
    height: 100%;
}

.w-available {
    width: -webkit-fill-available;
}

@layer components {
    .auth-input {
        @apply w-full px-8 py-4 my-1 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white;
    }
}